<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<!-- database-context에서 연결해야함 -->
<!-- namespace 는 type X, String 타입이라 사용불가 -->
  
<configuration>

	<typeAliases>
		<typeAlias type="com.kwan.app.product.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.kwan.app.product.ProductFileDTO" alias="ProductFileDTO"/>
		<typeAlias type="com.kwan.app.members.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.kwan.app.members.MemberFileDTO" alias="MemberFileDTO"/>
		<typeAlias type="com.kwan.app.accounts.AccountDTO" alias="AccountDTO"/>
		
		<typeAlias type="com.kwan.app.trades.TradeDTO" alias="TradeDTO"/>
		<typeAlias type="com.kwan.app.boards.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.kwan.app.boards.notice.NoticeFileDTO" alias="NoticeFileDTO"/>
		<typeAlias type="com.kwan.app.boards.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.kwan.app.boards.qna.QnaFileDTO" alias="QnaFileDTO"/>
		<typeAlias type="com.kwan.app.boards.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.kwan.app.boards.BoardFileDTO" alias="BoardFileDTO"/>
		<typeAlias type="com.kwan.app.files.FileDTO" alias="FileDTO"/>	
		<typeAlias type="com.kwan.app.util.Pager" alias="Pager"/>	
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.util.Map" alias="Map"/>
		
	</typeAliases>  
  
</configuration>