<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kwan.app.accounts.AccountDAO">
  
  	<insert id="add" parameterType="AccountDTO">
  	
  		INSERT INTO BANK (BANK_ID, MEMBER_ID, ITEM_ID, BANK_PW)
  		VALUES (#{bank_id}, #{member_id}, #{item_id}, #{bank_pw})
  	
  	</insert>
 
 	<!-- 매개변수로 받아온 AccountDTO에 잇는 BANK_ID가 같은 가입내역만 조회 -->
 	<select id="detail" parameterType="AccountDTO" resultMap="detailResult">
 	
 		SELECT B.*, I.*
		FROM BANK B
			INNER JOIN
			ITEMS I
			ON B.ITEM_ID = I.ITEM_ID 
		WHERE B.BANK_ID = #{bank_id}
 	
 	</select>
 	
 	<resultMap type="AccountDTO" id="detailResult">
 	
 		<id column="BANK_ID" property="bank_id"/>
 		<id column="ITEM_ID" property="item_id"/>
 		
 		<result column="OPEN_DATE" property="open_date"/>
 		<result column="BALANCE" property="balance"/>
 		
 		<!-- 1:1의 관계 -->
 		<association property="productDTO" javaType="ProductDTO">
 			
 			<!-- id 이미 선언해서 생략 -->
 			<result column="ITEM_NAME" property="item_name"/>
 			<result column="ITEM_RATE" property="item_rate"/>
 			
 		</association>
 		
 	</resultMap>
 	
 	<update id="work" parameterType="AccountDTO">
 	
 		UPDATE BANK SET BALANCE=BALANCE+10000 WHERE BANK_ID=#{bank_id}
 	
 	</update>
 	
 	<select id="checkpw" parameterType="AccountDTO" resultType="AccountDTO">
 	
 		SELECT BANK_PW FROM BANK WHERE BANK_ID = #{bank_id}
 	
 	</select>
 	
 	
 	<!-- 내계좌 출금 -->
 	<insert id="transfer" parameterType="InfosDTO">
 	
 		INSERT INTO BANK_INFOS
		VALUES (#{bank_id}, CURRENT_DATE, #{defference}, #{account_u},
		(SELECT BALANCE
			FROM BANK
			WHERE BANK_ID=#{bank_id})+#{defference})
 	
 	</insert>
 	
 	<!-- 상대방 계좌에 입금 -->
 	<insert id="transfer2" parameterType="InfosDTO">
 	
 		INSERT INTO BANK_INFOS
		VALUES (#{account_u}, CURRENT_DATE, #{defference}*-1, #{bank_id}, 
		(SELECT BALANCE
			FROM BANK
			WHERE BANK_ID=#{bank_id})+#{defference}*-1)
 	
 	</insert>
 	
 	<update id="upbal" parameterType="InfosDTO">
 	
 		UPDATE BANK SET BALANCE = BALANCE + #{defference}
 		WHERE BANK_ID = #{bank_id}
 	
 	</update>
 	
 	 <update id="upbal2" parameterType="InfosDTO">
 	
 		UPDATE BANK SET BALANCE = BALANCE + #{defference}*-1
 		WHERE BANK_ID = #{account_u}
 	
 	</update>
 	
 	<select id="list" parameterType="ListOption" resultType="InfosDTO">
 	
 		SELECT * FROM BANK_INFOS WHERE BANK_ID = #{bank_id} 
 			<choose>
 				<when test="order==0">
 					ORDER BY TIMEPOINT DESC
 				</when>
 				<when test="order==1">
 					ORDER BY TIMEPOINT ASC
 				</when>
 				<when test="order==2">
 					AND DEFFERENCE>0 ORDER BY TIMEPOINT DESC
 				</when>
 				<when test="order==3">
 					AND DEFFERENCE<![CDATA[<]]>0 ORDER BY TIMEPOINT DESC
 				</when>
 			</choose>
 		
 		
 	
 	</select>
 	
  		
  </mapper>