<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kwan.app.boards.notice.NoticeDAO">
  
  	<select id="list" resultType="NoticeDTO" parameterType="Pager">
  		SELECT *
  		FROM (SELECT ROWNUM R, N.*
  			FROM (SELECT * 
  				FROM NOTICE ORDER BY BOARDNUM DESC
  				) N
  		)
  		WHERE R BETWEEN #{startrow} AND #{lastrow}
  	</select>
  	
  	<select id="getCount" resultType="Long">
  	
  		SELECT COUNT(BOARDNUM) FROM NOTICE
  	
  	</select>
  	
  	<select id="detail" parameterType="NoticeDTO" resultType="NoticeDTO">
  	
  		SELECT * FROM NOTICE WHERE BOARDNUM=#{boardnum}
  	
  	</select>
  	
  	<update id="hit" parameterType="NoticeDTO">
  		UPDATE NOTICE SET BOARDHIT=BOARDHIT+1 WHERE BOARDNUM=#{boardnum}	
  	</update>
  
	<insert id="add" parameterType="NoticeDTO">
		INSERT INTO NOTICE (BOARDNUM, BOARDWRITER, BOARDTITLE, BOARDCONTENTS)
		VALUES (BOARD_SEQ.nextval, #{boardwriter}, #{boardtitle}, #{boardcontents})
	</insert>
	
	<update id="update" parameterType="NoticeDTO">
		UPDATE NOTICE SET BOARDTITLE=#{boardtitle}, BOARDCONTENTS=#{boardtitle} WHERE BOARDNUM=#{boardnum}
	
	</update>
	
	<delete id="delete" parameterType="NoticeDTO">
		DELETE NOTICE WHERE BOARDNUM=#{boardnum}
	
	</delete>
  
  </mapper>