<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kwan.app.boards.notice.NoticeDAO">
  
  	<select id="list" resultType="NoticeDTO" parameterType="Pager">
  		SELECT *
  		FROM (SELECT ROWNUM R, N.*
  			FROM (SELECT * 
  				FROM NOTICE
  				<where>
  					<choose>
	  					<when test="kind=='k2'">
	  						BOARDCONTENTS
	  					</when>
	  					<when test="kind=='k1'">
	  						BOARDTITLE
	  					</when>
	  					<otherwise>
	  						BOARDWRITER
	  					</otherwise>
  					</choose>
  					 LIKE '%'||#{search}||'%'
  				</where>
  				ORDER BY BOARDNUM DESC
  				) N
  		)
  		WHERE R BETWEEN #{startrow} AND #{lastrow}
  	</select>
  	
  	<select id="getCount" resultType="Long">
  	
  		SELECT COUNT(BOARDNUM) FROM NOTICE
  			<where>
  					<choose>
	  					<when test="kind=='k2'">
	  						BOARDCONTENTS
	  					</when>
	  					<when test="kind=='k1'">
	  						BOARDTITLE
	  					</when>
	  					<otherwise>
	  						BOARDWRITER
	  					</otherwise>
  					</choose>
  					 LIKE '%'||#{search}||'%'
  				</where>
  	
  	</select>
  	
  	<select id="detail" parameterType="NoticeDTO" resultMap="nfjoin">
  		SELECT N.*,NF.*
  		FROM NOTICE N
  			LEFT JOIN
  			NOTICEFILES NF
  			ON (N.BOARDNUM = NF.BOARDNUM)
  		WHERE N.BOARDNUM=#{boardnum}
  	</select>
  	
  	<resultMap type="NoticeDTO" id="nfjoin">
  		<id column="BOARDNUM" property="boardnum"/>
  		<result column="BOARDTITLE" property="boardtitle"/>
  		<result column="BOARDWRITER" property="boardwriter"/>
  		<result column="CREATEDATE" property="createdate"/>
  		<result column="UPDATEDATE" property="updatedate"/>
  		<result column="BOARDHIT" property="boardhit"/>
  		<result column="BOARDCONTENTS" property="boardcontents"/>
  		<result column="BOARDCATEGORY" property="boardcategory"/>
  		<result column="DEL" property="del"/>
  		
  		<collection property="boardFileDTOs" javaType="List" ofType="NoticeFileDTO">
  			<id column="FILENUM" property="filenum"/>
  			<result column="FILENAME" property="filename"/>
  			<result column="ORINAME" property="oriname"/>
  		</collection>
  	
  	</resultMap>
  	
  	<update id="hit" parameterType="NoticeDTO">
  		UPDATE NOTICE SET BOARDHIT=BOARDHIT+1 WHERE BOARDNUM=#{boardnum}	
  	</update>
  	
  	<select id="getNum" resultType="Long">
  		SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  	</select>
  
	<insert id="add" parameterType="NoticeDTO">
		INSERT INTO NOTICE (BOARDNUM, BOARDWRITER, BOARDTITLE, BOARDCONTENTS)
		VALUES (#{boardnum}, #{boardwriter}, #{boardtitle}, #{boardcontents})
	</insert>
	
	<insert id="addFile" parameterType="NoticeFileDTO">
		INSERT INTO NOTICEFILES VALUES (FILES_SEQ.NEXTVAL,#{boardnum},#{filename},#{oriname})
	</insert>
	
	<update id="update" parameterType="NoticeDTO">
		UPDATE NOTICE SET BOARDTITLE=#{boardtitle}, BOARDCONTENTS=#{boardcontents} WHERE BOARDNUM=#{boardnum}
	
	</update>
	
	<delete id="delete" parameterType="NoticeDTO">
		DELETE NOTICE WHERE BOARDNUM=#{boardnum}
	
	</delete>
  
  </mapper>