<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 	<mapper namespace="com.kwan.app.boards.qna.QnaDAO">
 	
 	<sql id="searchSql">
 		<where>
	 		BOARDNUM>0
		 	<choose>
		 		<when test="kind=='kt'">
		 			AND BOARDTITLE 
		 		</when>
		 		<when test="kind=='kc'">
		 			AND BOARDCONTENTS 
		 		</when>
		 		<otherwise>
					AND BOARDWRITER
	 			</otherwise>
	 		</choose>
	 		LIKE '%'||#{search}||'%'
 		</where> 
 	</sql>
 	
 		<select id="list" parameterType="Pager" resultType="QnaDTO">
 		SELECT * FROM
	 		(SELECT ROWNUM R, Q.* FROM
	 			(SELECT * FROM QNA
	 			<include refid="searchSql"></include>
	 			ORDER BY REF DESC, STEP ASC) Q)
	 	WHERE R BETWEEN #{startrow} AND #{lastrow}
 		</select>
 		
 		<select id="getCount" parameterType="Pager" resultType="Long">
 			SELECT COUNT(BOARDNUM) FROM QNA 
 				<include refid="searchSql"></include>
 		
 		</select>
 		
 		<insert id="add" parameterType="QnaDTO">
 			INSERT INTO QNA (BOARDNUM,BOARDWRITER,BOARDTITLE,BOARDCONTENTS,CREATEDATE,UPDATEDATE, BOARDHIT, REF, STEP, DEPTH)
 			VALUES (BOARD_SEQ.NEXTVAL,#{boardwriter},#{boardtitle},#{boardcontents},SYSDATE,SYSDATE,0,BOARD_SEQ.CURRVAL,0,0)
 		</insert>
 		
 		<insert id="reply" parameterType="QnaDTO">
 			INSERT INTO QNA (BOARDNUM,BOARDWRITER,BOARDTITLE,BOARDCONTENTS,CREATEDATE,UPDATEDATE, BOARDHIT, REF, STEP, DEPTH)
 			VALUES (BOARD_SEQ.NEXTVAL,#{boardwriter},#{boardtitle},#{boardcontents},SYSDATE,SYSDATE,0,#{ref},#{step},#{depth})
 		</insert>
 		
 		<select id="detail" parameterType="QnaDTO" resultType="QnaDTO">
 			SELECT * FROM QNA WHERE BOARDNUM=#{boardnum} AND DEL=0
 		</select>
 		
 		<update id="update" parameterType="QnaDTO">
 			UPDATE QNA SET BOARDTITLE = #{boardtitle}, BOARDCONTENTS=#{boardcontents}, UPDATEDATE = SYSDATE
 			WHERE BOARDNUM=#{boardnum}
 		</update>
 		
 		<update id="replyUpdate" parameterType="QnaDTO">
 			UPDATE QNA SET STEP=STEP+1
 			WHERE REF=#{ref} AND STEP>#{step}
 		
 		</update>
 		
 		<delete id="delete" parameterType="QnaDTO">
 			UPDATE QNA SET DEL=1 WHERE BOARDNUM = #{boardnum}
 		</delete>
 		
 	
 	
 	</mapper>